<section class="meubels">
    <div class="container section-position">
        <div class="left"><h2 class="meubels-text">⸺   
 

About us</h2>
        <h3 class="meubels-title">Our сraftsmanship: сreating unique handmade furniture</h3>
        <p class="meubels-text1">Discover the inspiration behind our modern and minimalist designs, and see how we bring them to life through our skilled craftsmanship.</p>
        <ul class="meubels-list">
            <li class="meubels-item">
                <h3 class="meubels-number">5+</h3>
                <p class="meubels-text2">Years of experience creating handcrafted furniture</p>
            </li>
            <li class="meubels-item">
                <h3 class="meubels-number">100%</h3>
                <p class="meubels-text2">Sustainably sourced materials used in all of our furniture </p>
            </li>
            <li class="meubels-item">
                <h3 class="meubels-number">500+</h3>
                <p class="meubels-text2">Unique furniture designs crafted by our skilled artisans</p>
            </li>
        </ul>
    </div>
        <div class="right"></div>
        <picture>
                     <source srcset="./img/desktop/sofa_cushions.jpg  1x, ./img/desktop/sofa_cushions@desktop2x.jpg" media="(min-width: 1440px)">
                     <source srcset="./img/tablet/sofa_cushions.jpg  1x, ./img/tablet/sofa_cushions@tablet2x.jpg 2x" media="(min-width: 768px)">
                     <source srcset="./img/mobile/sofa_cushions.jpg  1x, ./img/mobile/sofa_cushions@mobile2x.jpg 2x" media="(min-width: 375px)">
                     <img class="about-img" src="./img/desktop/sofa_cushions.jpg" alt="Divan">
                    </picture>
        </div>
    </section>