<section class="meubels">
    <div class="container">
        <p class="meubels-text">⸺   
 

About us</p>
        <h2 class="meubels-title">Our сraftsmanship: сreating unique handmade furniture</h2>
        <p class="meubels-text1">Discover the inspiration behind our modern and minimalist designs, and see how we bring them to life through our skilled craftsmanship.</p>
        <ul class="meubels-list">
            <li class="meubels-item">
                <h3 class="meubels-number">5+</h3>
                <p class="meubels-text2">Years of experience creating handcrafted furniture</p>
            </li>
            <li class="meubels-item">
                <h3 class="meubels-number">100%</h3>
                <p class="meubels-text2">Sustainably sourced materials used in all of our furniture </p>
            </li>
            <li class="meubels-item">
                <h3 class="meubels-number">500+</h3>
                <p class="meubels-text2">Unique furniture designs crafted by our skilled artisans</p>
            </li>
        </ul>
        <img class="meubels-sofa" src="./img/divan-about-us.png" alt="sofa">
        </div>
    </section>