<section class="bestsellers">
  <div class="container">
  <h2 class="bestsellers-title">Bestsellers</h2>
  <ul class="bestsellers-list">
    <li class="bestsellers-item">
        <picture>
        <source srcset="./img/desktop/bed.jpg 1x, ./img/desktop/bed@desktop2x.jpg 2x" media="(min-width:1440px)">
        <source srcset="./img/tablet/bed.jpg 1x, ./img/tablet/bed@tablet2x.jpg 2x" media="(min-width:768px)">
        <source srcset="./img/mobile/bed.jpg 1x, ./img/mobile/bed@mobile2x.jpg 2x" media="(min-width:375px)">
        <img src="./img/desktop/bed.jpg 1x" alt="Наш продукт">
      </picture>
      <p class="bestsellers-text">The modern platform bed</p>
      <span class="price">750$</span>
    </li>

    <li class="bestsellers-item">
      <picture>
        <source srcset="./img/desktop/living_room.jpg 1x, ./img/desktop/living_room@desktop2x.jpg 2x" media="(min-width:1440px)">
        <source srcset="./img/tablet/living_room.jpg 1x, ./img/tablet/living_room@tablet2x.jpg 2x" media="(min-width:768px)">
        <source srcset="./img/mobile/living_room.jpg 1x, ./img/mobile/living_room@mobile2x.jpg 2x" media="(min-width:375px)">
        <img src="./img/desktop/living_room.jpg 1x" alt="Наш продукт">
      </picture>
      <p class="bestsellers-text">The Cozy Lounge Chair</p>
      <span class="price">230$</span>
    </li>

    <li class="bestsellers-item">
      <picture>
        <source srcset="./img/desktop/drawer.jpg 1x, ./img/desktop/drawer@desktop2x.jpg 2x" media="(min-width:1440px)">
        <source srcset="./img/tablet/drawer.jpg 1x, ./img/tablet/drawer@tablet2x.jpg 2x" media="(min-width:768px)">
        <source srcset="./img/mobile/table_chair.jpg 1x, ./img/mobile/table_chair@mobile2x.jpg 2x" media="(min-width:375px)">
        <img src="./img/desktop/table_chair.jpg 1x" alt="Наш продукт">
      </picture>
      <p class="bestsellers-text">The industrial accent chair</p>
      <span class="price">250$</span>
    </li>

    <li class="bestsellers-item">
      <picture>
        <source srcset="./img/desktop/table_chair.jpg 1x, ./img/desktop/table_chair@desktop2x.jpg 2x" media="(min-width:1440px)">
        <source srcset="./img/tablet/table_chair.jpg 1x, ./img/tablet/table_chair@tablet2x.jpg 2x" media="(min-width:768px)">
        <source srcset="./img/mobile/table_chair.jpg 1x, ./img/mobile/table_chair@mobile2x.jpg 2x" media="(min-width:375px)">
        <img src="./img/desktop/table_chair.jpg 1x" alt="Наш продукт">
      </picture>
      <p class="bestsellers-text">The industrial accent chair</p>
      <span class="price">300$</span>
    </li>

    <li class="bestsellers-item">
      <picture>
        <source srcset="./img/desktop/cactus_sofa.jpg 1x, ./img/desktop/cactus_sofa@desktop2x.jpg 2x" media="(min-width:1440px)">
        <source srcset="./img/tablet/cactus_sofa.jpg 1x, ./img/tablet/cactus_sofa@tablet2x.jpg 2x" media="(min-width:768px)">
        <source srcset="./img/mobile/table_chair.jpg 1x, ./img/mobile/table_chair@mobile2x.jpg 2x" media="(min-width:375px)">
        <img src="./img/desktop/table_chair.jpg 1x" alt="Наш продукт">
      </picture>
      <p>The minimalist sofa</p>
      <span class="price">650$</span>
    </li>
  </ul>
 </div>
</section>