<section class="bestsellers">
  <h2>Bestsellers</h2>
  <div class="bestseller-list">
    <article class="bestseller-item">
      <picture>
  <source 
    srcset="images/bedroom_mobile@1x.jpg 1x,
            images/bedroom_mobile@2x.jpg 2x" 
    media="(max-width: 786px)">
  <img src="images/bedroom_mobile@1x.jpg" alt="Наш продукт">
</picture>
      <p>The modern platform bed</p>
      <span class="price">750$</span>
    </article>




    <article class="bestseller-item">
      <picture>
  <source 
    srcset="images/hall_mobile@1x.jpg 1x,
            images/hall_mobile@2x.jpg 2x" 
    media="(max-width: 786px)">
  <img src="images/hall_mobile@1x.jpg" alt="Наш продукт">
</picture>
      <p>The Cozy Lounge Chair</p>
      <span class="price">230$</span>
    </article>





    <article class="bestseller-item">
      <picture>
  <source 
    srcset="images/living_room_mobile@1x.jpg 1x,
            images/living_room_mobile@2x.jpg 2x" 
    media="(max-width: 786px)">
  <img src="images/living_room_mobile@1x.jpg" alt="Наш продукт">
</picture>
      <p>The industrial accent chair</p>
      <span class="price">250$</span>
    </article>
  </div>
</section>