 <section class="rewiews">
    <div class="container rewiews-position">
        <h2 class="title-rewiew">clients reviews</h2>
    <ul class="list-rewiews">
        <li class="item-rewiews">
            <div class="img-position">
            <picture>
                     <source srcset="./img/desktop/alexandra.png  1x, ./img/desktop/alexandra@desktop2x.png 2x" media="(min-width: 1320px)">
                     <source srcset="./img/tablet/alexandra.png  1x, ./img/tablet/alexandra@tablet2x.png 2x" media="(min-width: 704px)">
                     <source srcset="./img/mobile/alexandra.png  1x, ./img/mobile/alexandra@mobile2x.png 2x" media="(min-width: 343px)">
                     <img class="rewiews-img" src="./img/desktop/alexandra.png" alt="Alexandra">
                    </picture>
                    <div class="img-position2">
            <h3 class="names-rewiew">Alexandra Dream</h3>
            <span class="span-rewiew">1 week ago</span>
            </div>
            </div>
            <p class="text-rewiew">I was blown away by the quality and craftsmanship of the furniture I received from this company. Each piece was unique and beautifully designed, and you can tell that a lot of thought and care goes into every detail. </p>
        </li>
        <li class="item-rewiews">
            <div class="img-position">
            <picture>
                     <source srcset="./img/desktop/james.png  1x, ./img/desktop/james@desktop2x.png 2x" media="(min-width: 1320px)">
                     <source srcset="./img/tablet/james.png  1x, ./img/tablet/james@tablet2x.png 2x" media="(min-width: 704px)">
                     <img class="rewiews-img" src="./img/desktop/james.png" alt="james">
                    </picture>
                    <div class="img-position2">
            <h3 class="names-rewiew">James Williams</h3>
            <span class="span-rewiew">A week ago</span>
            </div>
            </div>
            <p class="text-rewiew">The "Minimal" furniture set is a fantastic addition to my home. It boasts a minimalist design, enhancing the feel and look of my living space. The sturdy construction is worth noting too, which speaks volumes about its durability.</p>
        </li>
        <li class="item-rewiews">
            <div class="img-position">
            <picture>
                     <source srcset="./img/desktop/emily.png  1x, ./img/desktop/emily@desktop2x.png 2x" media="(min-width: 1320px)">
                     <img class="rewiews-img" src="./img/desktop/emily.png" alt="Emily">
                    </picture>
                    <div class="img-position2">
            <h3 class="names-rewiew">Emily Watson</h3>
            <span class="span-rewiew">3 week ago</span>
            </div>
            </div>
            <p class="text-rewiew">The "Minimal" furniture set has far exceeded my expectations. The sleek design combined with the high-quality materials have not only added an exceptional aesthetic to my space but also offered an uncompromising standard of comfort.</p>
        </li>
    </ul>
    </div>
</section>