<footer class="footer footer-position">
        <div class="container">
        <div>
        <a href="/">
            <img src="./" alt="logo" class="logo">
        </a>
        <address class="address">
          <ul class="address-list">
            <li class="address-list__item">
                <p class="address-list__text">Obolonsky Prospect, 14, Kyiv</p>
            </li>
            <li class="address-list__item">
                <p class="address-list__text">Daily 10:00-21:00</p>
            </li>
          </ul>
        </address>
        </div>
        <div>
        <nav class="nav">
          <ul class="navigation">
            <li class="navigation__item">
                <a href="#">About us</a>
            </li>
            <li class="navigation__item">
                <a href="#">Our products</a>
            </li>
            <li class="navigation__item">
                <a href="#">Prices</a>
            </li>
            <li class="navigation__item">
                <a href="#">Bestsellers</a>
            </li>
            <li class="navigation__item">
                <a href="#">Reviews</a>
            </li>
            <li class="navigation__item">
                <a href="#">Contacts</a>
            </li>
          </ul>
        </nav>
        <ul class="contact">
           <li class="contact__item">
            <a href="tel:+380669384758" class="contact__link">+380669384758</a>
           </li>
           <li class="contact__item">
            <a href="tel:+380679384758" class="contact__link">+380679384758</a>
           </li>
            <li class="contact__item">
                <a href="mailto:minimal.furniture@gmail.com" class="contact__link">minimal.furniture@gmail.com</a>
            </li>
        </ul>
        <small class="rights">By using this website, you agree to the <a href="#" class="rights__link">Terms of Service</a> and <a href="#" class="rights__link">Privacy Policy</a></small>
      </div>
      <div>
         <ul class="social">
           <li class="social__item">
              <a href="/" class="social__link">
                <svg class="social__icon" width="40" height="40">
                    <use href="./SVG/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
           </li>
           <li class="social__item">
              <a href="/" class="social__link">
                <svg class="social__icon" width="40" height="40">
                    <use href="./SVG/symbol-defs.svg#icon-inst"></use>
                </svg>
              </a>
           </li>
           <li class="social__item">
              <a href="/" class="social__link">
                <svg class="social__icon" width="40" height="40">
                    <use href="./SVG/symbol-defs.svg#icon-youtube"></use>
                </svg>
              </a>
           </li>
         </ul>
      </div>
      </div>
</footer>