<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="left">
        <a class="logo__link" href="/">
          <img src="#" alt="logo" class="logo1" />
        </a>
        <div class="address__container">
          <address class="address">
            <ul class="address-list">
              <li class="address-list__item">
                <p class="address-list__text">Obolonsky Prospect, 14, Kyiv</p>
              </li>
              <li class="address-list__item">
                <p class="address-list__text">Daily 10:00-21:00</p>
              </li>
            </ul>
          </address>
        </div>
        <ul class="footer-navigation">
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">About us</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Our products</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Prices</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Bestsellers</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Reviews</a>
          </li>
        </ul>
        <ul class="contacts">
          <li class="contacts__item">
            <a href="tel:+380669384758" class="contacts__link">+380669384758</a>
          </li>
          <li class="contacts__item">
            <a href="tel:+380679384758" class="contacts__link">+380679384758</a>
          </li>
          <li class="contacts__item">
            <a href="mailto:minimal.furniture@gmail.com" class="contacts__link"
              >minimal.furniture@gmail.com</a
            >
          </li>
        </ul>
      </div>
      <ul class="social">
        <li class="social__item">
          <a href="#" class="social__link">
            <svg class="social__icon" width="32" height="32">
              <use href="./icons/symboldefs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <svg class="social__icon" width="32" height="32">
              <use href="./icons/symboldefs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <svg class="social__icon" width="32" height="32">
              <use href="./icons/symboldefs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <small class="rights">
      By using this website, you agree to the
      <a href="#" class="rights__link">Terms of Service</a> and
      <a href="#" class="rights__link">Privacy Policy</a>
    </small>
  </div>
</footer>
