<footer class="footer footer-position">
  <div class="container">
    <div class="address__container">
      <a class="logo__link" href="/">
        <img src="#" alt="logo" class="logo"/>
    </a>
      <address class="address">
        <ul class="address-list">
          <li class="address-list__item">
            <p class="address-list__text">Obolonsky Prospect, 14, Kyiv</p>
          </li>
          <li class="address-list__item">
            <p class="address-list__text">Daily 10:00-21:00</p>
          </li>
        </ul>
      </address>
    </div>
    <div class="footer">
        <ul class="footer-navigation">
          <li class="footer-navigation__item">
            <a href="#">About us</a>
        </li>
          <li class="footer-navigation__item">
            <a href="#">Our products</a>
        </li>
          <li class="footer-navigation__item">
            <a href="#">Prices</a>
        </li>
          <li class="footer-navigation__item">
            <a href="#">Bestsellers</a>
        </li>
          <li class="footer-navigation__item">
            <a href="#">Reviews</a>
        </li>
          <li class="footer-navigation__item">
            <a href="#">Contacts</a>
        </li>
        </ul>
      <ul class="contacts">
        <li class="contacts__item">
          <a href="tel:+380669384758" class="contacts__link">+380669384758</a>
        </li>
        <li class="contacts__item">
          <a href="tel:+380679384758" class="contacts__link">+380679384758</a>
        </li>
        <li class="contacts__item">
          <a href="mailto:minimal.furniture@gmail.com" class="contacts__link">minimal.furniture@gmail.com</a>
        </li>
      </ul>
      <small class="rights">
        By using this website, you agree to the
        <a href="#" class="rights__link">Terms of Service</a> and
        <a href="#" class="rights__link">Privacy Policy</a>
    </small>
    </div>
    <div class="social__container">
      <ul class="social">
        <li class="social__item">
          <a href="#" class="social__link">
            <svg class="social__icon" width="40" height="40">
              <use href="./icons/symboldefs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <svg class="social__icon" width="40" height="40">
              <use href="./icons/symboldefs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <svg class="social__icon" width="40" height="40">
              <use href="./icons/symboldefs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>