<header class="header">
  <div class="container header-position">
    <a href="/" class="logo">
        <svg class="icon-logo" width="127" height="16">
          <use href="./icons/symboldefs.svg#icon-logo"></use>
        </svg>
    </a>
    <nav class="nav">
      <ul class="navigation">
        <li class="navigation__item">
            <a href="#" class="navigation__link">About us</a>
        </li>
        <li class="navigation__item">
            <a href="#" class="navigation__link">Our products</a>
        </li>
        <li class="navigation__item">
            <a href="#" class="navigation__link">Prices</a>
        </li>
        <li class="navigation__item">
            <a href="#" class="navigation__link">Bestsellers</a>
        </li>
        <li class="navigation__item">
            <a href="#" class="navigation__link">Reviews</a>
        </li>
        <li class="navigation__item">
            <a href="#" class="navigation__link">Contacts</a>
        </li>
      </ul>
    </nav>
      <svg class="icon-burger" width="32" height="32" fill="black">
     <use href="./icons/symboldefs.svg#icon-burger"></use>
   </svg>
  </div>
</header>
