<header>
        <div class="container">
       <a href="/">
        <img src="/" alt="лого">
       </a>
       <nav class="nav">
          <ul class="navigation">
            <li class="navigation__item">
                <a href="#">About us</a>
            </li>
            <li class="navigation__item">
                <a href="#">Our products</a>
            </li>
            <li class="navigation__item">
                <a href="#">Prices</a>
            </li>
            <li class="navigation__item">
                <a href="#">Bestsellers</a>
            </li>
            <li class="navigation__item">
                <a href="#">Reviews</a>
            </li>
            <li class="navigation__item">
                <a href="#">Contacts</a>
            </li>
          </ul>
        </nav>
       </div>
</header>