<section class="hero">
        <div class="container">
            <h1 class="hero__title">Modern and minimalist furniture for you</h1>
            <ul class="hero__list">
                <li class="hero__item">
                    <picture class="hero__picture">
                        <source srcset="./img/desktop/hero_chair_sofa.jpg 1x, ./img/desktop/hero_chair_sofa@desktop2x.jpg 2x" media="(min-width: 1320px)">
                        <source srcset=" ./img/tablet/hero_chair_sofa.jpg 1x, ./img/tablet/hero_chair_sofa@tablet2x.jpg 2x" media="(min-width: 704px)">
                        <img class="hero__image" src="./img/desktop/hero_chair_sofa.jpg" alt="A chair next to the sofa">
                    </picture>
                </li>
                <li class="hero__item">
                    <picture class="hero__picture hero__picture-two">
                        <source srcset=" ./img/desktop/hero_sofa_tables.jpg 1x, ./img/desktop/hero_sofa_tables@desktop2x.jpg 2x" media="(min-width: 1320px)">
                        <source srcset=" ./img/tablet/hero_sofa_tables.jpg 1x, ./img/tablet/hero_sofa_tables@tablet2x.jpg 2x" media="(min-width: 704px)">
                        <img class="hero__image" src="./img/desktop/hero_sofa_tables.jpg" alt="Sofa with two tables in front">
                    </picture>
                </li>
                <li class="hero__item">
                    <div class="hero__left">
                        <picture class="hero__picture hero__picture-three">
                            <source srcset=" ./img/desktop/shelf.jpg 1x, ./img/desktop/shelf@desktop2x.jpg 2x" media="(min-width: 1320px)">
                            <img class="hero__image" src="./img/desktop/shelf.jpg" alt="Shelf with vases on top">
                        </picture>
                        <p class="hero__left-text">Add a touch of elegance to your space with handcrafted furniture pieces</p>
                        <button class="hero__left-button" type="button">Subscribe</button>
                    </div>
                </li>
            </ul>
        </div>
</section>