<section class="hero">
        <div class="container">
            <h1 class="hero__title">Modern and minimalist furniture for you</h1>
            <ul class="hero__list">
                <li class="hero__item">
                    <picture class="hero__picture">
                        <source srcset=" 1x,  2x" media="(min-width: 1440px)">
                        <source srcset=" 1x,  2x" media="(min-width: 768px)">
                        <source srcset=" 1x,  2x"  media="(max-width: 767px)">
                        <img class="hero__image" src="" alt="A chair next to the sofa">
                    </picture>
                </li>
                <li class="hero__item">
                    <picture class="hero__picture">
                        <source srcset=" 1x,  2x" media="(min-width: 1440px)">
                        <source srcset=" 1x,  2x" media="(min-width: 768px)">
                        <source srcset=" 1x,  2x"  media="(max-width: 767px)">
                        <img class="hero__image" src="" alt="Sofa with two tables in front">
                    </picture>
                </li>
                <li class="hero__item">
                    <div class="hero__left">
                        <picture class="hero__picture">
                            <source srcset=" 1x,  2x" media="(min-width: 1440px)">
                            <source srcset=" 1x,  2x" media="(min-width: 768px)">
                            <source srcset=" 1x,  2x"  media="(max-width: 767px)">
                            <img class="hero__image" src="" alt="Shelf with vases on top">
                        </picture>
                        <p>Add a touch of elegance to your space with handcrafted furniture pieces</p>
                        <button type="button">Subscribe</button>
                    </div>
                </li>
            </ul>
        </div>
</section>