<div class="container">
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="menu-header">
    <a href="/" class="logo">
      <svg class="icon-logo" width="127" height="16">
        <use href="./icons/symboldefs.svg#icon-logo"></use>
      </svg>
    </a>
      <button class="btn-close" data-modal-close>
        <svg class="close-icon" width="32" height="32">
          <use href="./icons/symboldefs.svg#icon-cross"></use>
        </svg>
      </button>
    </div>
    <nav class="mob-navigation">
      <ul class="mob-nav">
        <li class="mob-nav__item">
          <a href="#" class="mob-nav__link">About us</a>
        </li>
        <li class="mob-nav__item">
          <a href="#" class="mob-nav__link">Our products</a>
        </li>
        <li class="mob-nav__item">
          <a href="#" class="mob-nav__link">Prices</a>
        </li>
        <li class="mob-nav__item">
          <a href="#" class="mob-nav__link">Bestsellers</a>
        </li>
        <li class="mob-nav__item">
          <a href="#" class="mob-nav__link">Reviews</a>
        </li>
        <li class="mob-nav__item">
          <a href="#" class="mob-nav__link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
</div>