<section class="newsletter">
        <div class="container newsletter-position">
          <div class="newsletter__wrapper">
            <h2 class="newsletter__title">Newsletter</h2>
            <p class="newsletter__text">Every week we will send you new designs and information about sales.</p>
            <form class="newsletter__form">
                <label class="newsletter__label">
                    <input class="newsletter__input" type="text" placeholder="Name" required/>
                </label>
                <label class="newsletter__label">
                    <input class="newsletter__input" type="email" placeholder="E-mail" required/>
                </label>
                <label class="newsletter__label newsletter__label-checkbox">
                    <input class="newsletter__checkbox" type="checkbox" required/>
                    <span class="newsletter__span">Agree to subscribe to the newsletter</span>
                </label>
                <button class="newsletter__button">Send</button>
            </form>
          </div>
          <picture class="newsletter__picture">
            <source srcset="./img/desktop/sofa_table.jpg 1x, ./img/desktop/sofa_table@desktop2x.jpg  2x" media="(min-width: 1320px)">
            <source srcset="./img/tablet/sofa_table.jpg 1x, ./img/tablet/sofa_table@tablet2x.jpg 2x" media="(min-width: 704px)">
            <source srcset="./img/mobile/sofa_table.jpg 1x, ./img/mobile/sofa_table@mobile2x.jpg  2x"  media="(min-width: 343px)">
            <img class="newsletter__image" src="" alt="Modern sofa beside a table with a flower vase">
          </picture>
        </div>
</section>