<section class="newsletter">
        <div class="container">
          <div class="newsletter__wrapper">
            <h2 class="newsletter__title">Newsletter</h2>
            <p class="newsletter__text">Every week we will send you new designs and information about sales.</p>
            <form class="newsletter__form">
                <label class="newsletter__label">
                    <input class="newsletter__input" type="text" placeholder="Name" required/>
                </label>
                <label class="newsletter__label">
                    <input class="newsletter__input" type="email" placeholder="E-mail" required/>
                </label>
                <label class="newsletter__label">
                    <input class="newsletter__checkbox" type="checkbox" required/>
                    <span>Agree to subscribe to the newsletter</span>
                </label>
                <button class="newsletter__button">Send</button>
            </form>
          </div>
          <picture class="newsletter__picture">
            <source srcset=" 1x,  2x" media="(min-width: 1440px)">
            <source srcset=" 1x,  2x" media="(min-width: 768px)">
            <source srcset=" 1x,  2x"  media="(max-width: 767px)">
            <img class="newsletter__image" src="" alt="Modern sofa beside a table with a flower vase">
          </picture>
        </div>
</section>