<section class="prices">
  <div class="container">
    <ul class="prices__list">
      <li class="prices__item">
        <span class="prices__hover"></span>
        <h3 class="prices__title">Chairs</h3>
        <span class="prices__cost">from 200₴</span>
      </li>
      <li class="prices__item">
        <span class="prices__hover"></span>
        <h3 class="prices__title">Tables</h3>
        <span class="prices__cost">from 250₴</span>
      </li>
      <li class="prices__item">
        <span class="prices__hover"></span>
        <h3 class="prices__title">Dressers</h3>
        <span class="prices__cost">from 300₴</span>
      </li>
      <li class="prices__item">
        <span class="prices__hover"></span>
        <h3 class="prices__title">Sofas</h3>
        <span class="prices__cost">from 500₴</span>
      </li>
    </ul>
  </div>
</section>
