<section class="product">
  <div class="container">
    <h2 class="prosucts-title">Our Product</h2>
    <ul class="products-list">
      <li class="products-item">
        <picture>
          <source srcset="./img/desktop/plant_drawer.jpg 1x, ./img/desktop/plant_drawer@desktop2x.jpg 2x" media="(min-width: 1320px)"/>
          <source srcset="./img/tablet/plant_drawer.jpg 1x, ./img/tablet/plant_drawer@tablet2x.jpg 2x" media="(min-width: 704px)"/>
          <source srcset="./img/mobile/plant_drawer.jpg 1x, ./img/mobile/plant_drawer@mobile2x.jpg 2x" media="(min-width: 343px)"/>
          <img src="./img/desktop/plant_drawer.jpg" alt="Наш продукт"/>
        </picture>
        <p class="products-text">Minimalist storage solutions</p>
      </li>
      <li class="products-item">
        <picture>
          <source srcset="./img/desktop/blue_sofa.jpg 1x, ./img/desktop/blue_sofa@desktop2x.jpg 2x" media="(min-width: 1320px)"/>
          <source srcset="./img/tablet/blue_sofa.jpg 1x, ./img/tablet/blue_sofa@tablet2x.jpg 2x" media="(min-width: 704px)"/>
          <source srcset="./img/mobile/plant_drawer.jpg 1x, ./img/mobile/plant_drawer@mobile2x.jpg 2x" media="(min-width: 343px)"/>
          <img src="./img/desktop/blue_sofa.jpg" alt="Наш продукт"/>
        </picture>
        <p class="products-text">Handcrafted minimalist seating</p>
      </li>
      <li class="products-item">
        <picture>
          <source srcset="./img/desktop/kitchen.jpg 1x, ./img/desktop/kitchen@desktop2x.jpg 2x" media="(min-width: 1320px)"/>
          <source srcset="./img/tablet/kitchen.jpg 1x, ./img/tablet/kitchen@tablet2x.jpg 2x" media="(min-width: 704px)"/>
          <source srcset="./img/mobile/plant_drawer.jpg 1x, ./img/mobile/plant_drawer@mobile2x.jpg 2x" media="(min-width: 343px)"/>
          <img src="./img/desktop/kitchen.jpg" alt="Наш продукт"/>
        </picture>
        <p class="products-text">Sleek and simple tables</p>
      </li>
      <li class="products-item">
        <picture>
          <source srcset="./img/desktop/blue_chair.jpg 1x, ./img/desktop/blue_chair@desktop2x.jpg 2x" media="(min-width: 1320px)"/>
          <source srcset="./img/tablet/blue_chair.jpg 1x, ./img/tablet/blue_chair@tablet2x.jpg 2x" media="(min-width: 704px)"/>
          <source srcset="./img/mobile/plant_drawer.jpg 1x, ./img/mobile/plant_drawer@mobile2x.jpg 2x" media="(min-width: 343px)"/>
          <img src="./img/desktop/blue_chair.jpg" alt="Наш продукт"/>
        </picture>
        <p class="products-text">Minimalist seating for every space</p>
      </li>
    </ul>
  </div>
</section>