    <section class="our-product">
        <div class="container">
  <h2>Our Product</h2>  
  <ul class="product-details">
    <li class="product-image">
      <picture>
  <source 
    srcset="./img/desktop/plant_drawer.jpg 1x,
            ./img/desktop/plant_drawer@desktop2x.jpg 2x" 
    media="(min-width:1440px)">
    <source 
     srcset="./img/tablet/plant_drawer.jpg 1x,
            ./img/tablet/plant_drawer@tablet2x.jpg 2x" 
    media="(min-width:768px)">
    <source 
    srcset="./img/mobile/plant_drawer.jpg 1x,
            ./img/mobile/plant_drawer@mobile2x.jpg 2x" 
    media="(min-width:375px)">
  <img src="./img/desktop/plant_drawer.jpg 1x" alt="Наш продукт">
      </picture>
      <p class="product-info">Minimalist storage solutions</p>
    </li>
     <li class="product-image">
      <picture>
  <source 
    srcset="./img/desktop/blue_sofa.jpg 1x,
            ./img/desktop/blue_sofa@desktop2x.jpg 2x" 
    media="(min-width:1440px)">
    <source 
     srcset="./img/tablet/blue_sofa.jpg 1x,
            ./img/tablet/blue_sofa@tablet2x.jpg 2x" 
    media="(min-width:768px)">
    <source 
    srcset="./img/mobile/plant_drawer.jpg 1x,
            ./img/mobile/plant_drawer@mobile2x.jpg 2x" 
    media="(min-width:375px)">
  <img src="./img/desktop/blue_sofa.jpg 1x" alt="Наш продукт">
      </picture>
      <p class="product-info">Handcrafted minimalist seating</p>
    </li>
     <li class="product-image">
      <picture>
  <source 
    srcset="./img/desktop/kitchen.jpg 1x,
            ./img/desktop/kitchen@desktop2x.jpg 2x" 
    media="(min-width:1440px)">
    <source 
     srcset="./img/tablet/kitchen.jpg 1x,
            ./img/tablet/kitchen@tablet2x.jpg 2x" 
    media="(min-width:768px)">
    <source 
    srcset="./img/mobile/plant_drawer.jpg 1x,
            ./img/mobile/plant_drawer@mobile2x.jpg 2x" 
    media="(min-width:375px)">
  <img src="./img/desktop/kitchen.jpg 1x" alt="Наш продукт">
      </picture>
      <p class="product-info">Sleek and simple tables</p>
    </li>
     <li class="product-image">
      <picture>
  <source 
    srcset="./img/desktop/blue_chair.jpg 1x,
            ./img/desktop/blue_chair@desktop2x.jpg 2x" 
    media="(min-width:1440px)">
    <source 
     srcset="./img/tablet/blue_chair.jpg 1x,
            ./img/tablet/blue_chair@tablet2x.jpg 2x" 
    media="(min-width:768px)">
    <source 
    srcset="./img/mobile/plant_drawer.jpg 1x,
            ./img/mobile/plant_drawer@mobile2x.jpg 2x" 
    media="(min-width:375px)">
  <img src="./img/desktop/blue_chair.jpg 1x" alt="Наш продукт">
      </picture>
      <p class="product-info">Minimalist seating for every space</p>
    </li>
  </ul>
  </div>
</section>
