.bestsellers h2 {
  font-size: 24px;           
  text-align: center;           
  margin: 24px 0;
  font-weight: 700;
  letter-spacing: 1px;
  color: #222;
  text-transform: uppercase;
  border-bottom: 2px solid #eee; 
  display: inline-block;
  padding-bottom: 8px;
}




@media (min-width: 1024px) {

  .bestsellers h2 {
    font-size: 40px;
    text-align: left;           
    margin-left: 32px;
  }
}



