:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Playfair Display", sans-serif;
}

:root {
--light-blue: #f7faff;
--blue-font: #0a224a;
--white: #fff;
--grey: #d9d9d9;
--dark-grey: #b6b6b6;
}

.title-rewiew {
font-family: var(--font-family);
font-weight: 400;
font-size: 32px;
line-height: 141%;
text-transform: uppercase;
color: var(--blue-font);
display: flex;
justify-content: center;
}
.list-rewiews {
justify-content: center;
align-items: center;
display: flex;
}
.names-rewiew {
font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
line-height: 225%;
text-transform: uppercase;
color: var(--blue-font);
}
.span-rewiew {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: var(--blue-font);
}
.text-rewiew {
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: var(--blue-font);
}
.item-rewiews {
width: 424px;
height: 306px;
padding-left: 24px;
padding-right: 24px;
}