.header {
  padding: 36px 0;
  background-color: var(--light-blue);
}
.header-position {
  display: flex;
  position: relative;
}
@media screen and (min-width: 1320px) {
  .logo {
    margin-right: 558px;
  }
}
.icon-logo {
  fill: #0a224a;
}
.nav {
  display: none;
}
@media screen and (min-width: 1320px) {
  .nav {
    display: block;
  }
  .navigation {
    display: flex;
    column-gap: 30px;
  }
}
.navigation__link {
  color: var(--blue-font);
}
.icon-burger {
  stroke: black;
  position: absolute;
  top: -3px;
  right: 16px;
}
@media screen and (min-width: 704px) {
  .icon-burger {
    right: 11px;
  }
}
@media screen and (min-width: 1320px) {
  .icon-burger {
    display: none;
  }
  .btn-open{
    display: none;
  }
}
.btn-open{
  border: none;
  background-color: transparent;
}