.header {
  padding: 36px 0;
  background-color: var(--light-blue);
}
.header-position {
  display: flex;
}
@media screen and (min-width: 1440px) {
  .logo {
    margin-right: 558px;
  }
}
.icon-logo {
  fill: #0a224a;
}
.nav {
  display: none;
}
@media screen and (min-width: 1440px) {
  .nav {
    display: block;
  }
  .navigation {
    display: flex;
    column-gap: 30px;
  }
}
.navigation__link {
  color: var(--blue-font);
}
.icon-burger {
  stroke: black;
  position: absolute;
  top: 30px;
  right: 16px;
}
@media screen and (min-width: 768px) {
  .icon-burger {
    right: 27px;
  }
}
@media screen and (min-width: 1440px) {
  .icon-burger {
    display: none;
  }
}
