.hero {
  padding-top: 140px;
  padding-bottom: 313px;
  background-image: url('../img/mobile/hero-bg.jpg');
  background-size: 375px 717px;
  background-repeat: no-repeat;
  background-position: top;
}
@media (min-device-pixel-ratio: 2x),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url('../img/mobile/hero-bg@mobile2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: none;
  }
}
.hero__title {
  font-family: var(--second-family);
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 50px;
    position: absolute;
    z-index: 1;
  }
}
.hero__picture {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__picture {
    display: flex;
  }
}

@media screen and (max-width: 1440px) {
  .hero__item:nth-child(1) {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero__list {
    display: flex;
    align-items: end;
    column-gap: 25px;
    position: relative;
  }
}
.hero__left-text {
  font-size: 16px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .hero__left-text {
    font-size: 18px;
  }
}
.hero__left-button {
  padding: 12px 65px;
  width: 224px;
  height: 48px;
  font-size: 16px;
  color: var(--white);
  background-color: var(--blue-font);
}
@media screen and (min-width: 768px) {
  .hero__left-button {
    padding: 17px 65px;
    height: 50px;
    font-size: 18px;
    line-height: 133%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
