.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 3;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 704px) {
    width: 768px;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  width: 375px;
  position: relative;
}
@media screen and (min-width: 704px) {
  .modal {
    width: 768px;
  }
}
.menu-header {
  padding: 36px 16px;
  background-color: var(--light-blue);
}
@media screen and (min-width: 704px) {
  .menu-header {
    padding: 36px 50px;
  }
}
.btn-close {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 704px) {
  .btn-close {
    top: 31px;
    right: 50px;
  }
}

.close-icon {
  stroke: #000;
}
.mob-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mob-navigation {
  margin-top: 114px;
  margin-bottom: 365px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 704px){
    margin-top: 150px;   
    margin-bottom: 451px; 
  }
}
.mob-nav__item {
  margin-bottom: 30px;
}
.mob-nav__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--blue-font);
}
