.newsletter {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .newsletter {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .newsletter {
    padding-bottom: 86px;
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .newsletter-position {
    display: flex;
  }
}
.newsletter__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--blue-font);
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .newsletter__title {
    font-size: 32px;
    line-height: 1.41;
    text-align: start;
  }
}
.newsletter__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--blue-font);
  margin-bottom: 30px;
}
.newsletter__form{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
  .newsletter__text {
    font-size: 18px;
    line-height: 1.5;
  }
}
.newsletter__label:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter__label-checkbox {
  display: flex;
  margin-bottom: 30px;
}
.newsletter__input {
  border: 1px solid var(--dark-grey);
  padding: 11px 20px;
  width: 343px;
  height: 50px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .newsletter__input {
    width: 536px;
  }
}
.newsletter__checkbox {
  border: 1px solid var(--dark-grey);
  width: 25px;
  height: 25px;
  /* margin-bottom: 30px; */
  margin-right: 8px;
}

.newsletter__span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #7a7a7a;
}
@media screen and (min-width: 768px) {
  .newsletter__span {
    font-size: 18px;
  }
}
.newsletter__button {
  padding: 13px 65px;
  width: 224px;
  height: 50px;
  background-color: var(--blue-font);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .newsletter__span {
    /* margin-bottom: 64px; */
  }
}