.prices {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .prices {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.prices__item {
  position: relative;
}
.prices__item::after {
  content: '';
  display: block;
  border: 1px solid var(--blue-font);
  max-width: 343px;
  height: 0px;
}
.prices__item:nth-child(1)::before {
  content: '';
  display: block;
  border: 1px solid var(--blue-font);
  max-width: 343px;
  height: 0px;
}
@media screen and (min-width: 768px) {
  .prices__item::after,
  .prices__item:nth-child(1)::before {
    max-width: 704px;
  }
}
@media screen and (min-width: 1440px) {
  .prices__item::after,
  .prices__item:nth-child(1)::before {
    max-width: 1096px;
  }
}
.prices__title {
  font-size: 28px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .prices__title {
    font-size: 32px;
    line-height: 141%;
  }
}
.prices__cost {
  font-weight: 700;
  font-size: 16px;
  text-align: right;
  position: absolute;
  left: 266px;
  top: 25%;
  max-width: 254px;
}
@media screen and (min-width: 768px) {
  .prices__cost {
    font-size: 18px;
    line-height: 150%;
    left: 586px;
  }
}
@media screen and (min-width: 1440px) {
  .prices__cost {
    left: 1011px;
  }
}
