.products {
  font-size: 24px;
  text-align: center;
  margin: 24px 0;
  font-weight: 700;
  letter-spacing: 1px;
  color: #222;
  text-transform: uppercase;
  border-bottom: 2px solid #eee;
  display: inline-block;
  padding-bottom: 8px;
}


/* mine */
.products-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--blue-font);
  @media screen and (min-width: 704px) {
    font-size: 32px;
    line-height: 1.41;
  }
}
